.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #141414;
  height: 110px;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  /* font-size: 30px; */
  font-weight: bold;
  margin-right: 40px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  font-size: 26px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover,
.nav-links a.text-red-700 {
  color: #B91C1C;
}

.header-icons {
  display: flex;
}

.icon {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}